{% extends "layout.html" %}

{% block title %}
    Bookaholic/Home
{% endblock %}

{% block body %}
    <h3>Search</h3>
    <form action="/search" method="GET">
        <div class="form-group">
            <input type="text" class="form-control" name="book" autofocus aria-describedby="bookHelp" placeholder="ISBN, Title or Author">
            <small id="bookHelp" class="form-text text-muted">Example: 0850515033, Dom Casmurro or Machado de Assis</small>
        </div>
        <button class="btn btn-primary" type="submit">Search</button>
    </form>
{% endblock %}
